<table border =2>
                <thead>
                <tr>
                    <th colspan="11" align="center">Rekapitulas Pemeriksaan Covid 19</th>
                </tr>
                <tr>
                    <th colspan="11" align="center">Klinik Bunga Bakung</th>
                </tr>
                <tr>
                    <th colspan="11" align="center">Bulan Oktober 2020</th>
                </tr>
                <tr>
                    <th colspan="11" align="center"></th>
                </tr>
                <tr>
                    <th rowspan="2" align="center">Tanggal</th>
                    <th rowspan="2" align="center">Diperiksa</th>
                    <th colspan="3" align="center">Jenis Pemeriksaan</th>

                <tr>
                    <th width=20 align="center">Rapid Test</th>
                    <th width=20 align="center">Swab Anti Gen</th>
                    <th width=20 align="center">IFA</th>
                    <th width=20 align="center">Nama</th>
                    <th width=20 align="center">No KTP</th>
                    <th width=20 align="center">Jenis Pemeriksaan</th>
                    <th align="center">Hasil</th>
                    <th width=20 align="center">Tanggal Pemeriksaan</th>
                </tr>
                </thead>
                <tbody>
                                <tr>
                    <td align="center">20 Oktober 2020</td>
                    <td align="center"> - </td>
                    <td align="center"> Rapid Test </td>
                    <td align="center"><</td>
                    <td align="center"><</td>
                    <td>Oktavia Tri Wulandari</td>
                    <td align="center">6324235646456456</td>
                    <td align="center">Rapid Test</td>
                    <td align="center">REAKTIF</td>
                    <td align="center">20 Oktober 2020</td>
                </tr>
                                <tr>
                    <td align="center">20 Oktober 2020</td>
                    <td align="center"> - </td>
                    <td align="center"> Rapid Test </td>
                    <td align="center"><</td>
                    <td align="center"><</td>
                    <td>hamid</td>
                    <td align="center">6472032802930002</td>
                    <td align="center">Rapid Test</td>
                    <td align="center">REAKTIF</td>
                    <td align="center">20 Oktober 2020</td>
                </tr>
                                <tr>
                    <td colspan="6" align="center"><b>TOTAL</b></td>
                    <td align="center">2</td>
                  </tr>
                </tbody>

              </table>
